<div role="document" class="modal-dialog modal-dialog-centered modal-lg">
  <div class="modal-content">
    <div class="modal-header border-bottom-0">
    </div>
    <div class="modal-body p-4 p-lg-5">

    <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
  </div>

      <br>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="form-group mb-4">
          <label>Email address</label>
          <%= f.email_field :email, autofocus: true, class: "form-control", id:"inputEmail", placeholder:"Email address", autocomplete: "current-email" %>
        </div>

        <div class="form-group mb-4">
          <label>Password</label>
          <%= f.password_field :password, autocomplete: "current-password", id:"inputPassword", class:"form-control", placeholder:"Password" %>
        </div>

      <div class="checkbox mb-3">
        <label><input type="checkbox" value="remember-me"> Remember me</label>
      </div>

        <div class="form-group">
          <input type="submit" value="Login" class="btn btn-primary"><br><br>

          <%= render "devise/shared/links" %>
          
        </div>
      </form>
    </div>
  </div>
</div>
</div>
<% end %>