<% @restaurants.each do |restaurant| %>

    <div class="col-4">
    <%= image_tag restaurant.photo_url(:thumbnail).to_s %>
    <h3 class="h5 mt-3"><%= restaurant.name %></h3>
    <p><%= restaurant.address %></p>
    <p><%= restaurant.cuisine %></p>
    </div>

<% end %>