<header class="header">
  <%= render "layouts/nav/public" %>
<section class="hero">
      <div class="container mb-5">
        <div class="row align-items-center">
            <div class="col-lg-6">
            <h1 class="hero-heading mb-0">Reserve a table for any occassion at Glasgow's <br> busiest restaurants</h1>
            <div class="row">
              <div class="col-lg-10">
                <p class="lead text-muted mt-4 mb-4">Get served at your favorite restaurant</p>
        </div>
        </div>
            </div>
                <div class="col-lg-6"><img src="assets/eating-at-restaurant.jpg" alt="..." class="hero-image img-fluid d-none d-lg-block"></div>
        </div>
      </div>
</section>

    <section class="bg-primary text-white">
      <div class="container">
        <div class="text-center">
          <h2>Do great things together</h2>
          <div class="row">
            <div class="col-lg-9 mx-auto">
              <p class="lead text-white mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. eiusmod tempor incididunt ut labore et dolore.</p>
            </div>
          </div><a href="#" class="btn btn-outline-light">Learn More</a>
        </div>
      </div>
    </section>
</header>